* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sony-logo {
  height: 30px;
}

.btn-modified {
  border-radius: 15px;
  padding: 0 -5px;
  font-weight: bold;
}

.fa-search {
  margin: 0 15px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}
.returnal {
  background: url("../img/jumbo-bg.png");
}

.death {
  background: url("../playstation-reponsive/death-stranding-320px.jpg");
}

.fifa {
  background: url("../playstation-reponsive/fifa-22-hero-banner-mobile-320px.jpg");
}

.hero-container {
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-2-container {
  position: relative;
  width: 100%;
  background: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.height-80vh {
  height: 80vh;
  max-width: 100%;
  min-height: 570px;
}

.carousel img {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

.btn-modified-2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid blue;
  border-radius: 12px;
  padding: 10px;
}

.hov {
  position: relative;
}

.hov:hover .btn-modified-2 {
  display: inline;
}

.carousel-2 img {
  width: 100%;
}

.container-uscite img {
  border-radius: 12px;
  padding: 10px 0;
}

:root .card {
  border: transparent;
}

.container-play-plus {
  background-color: #bebcbb;
}

.container-play-now {
  background-color: #161c3b;
}

.footer {
  background-color: #00439c;
}

.global {
  height: 16px;
}

.ul-decor ul {
  list-style: none;
}
.navbar-nav .dropdown-menu {
  border: none;
}
.navbar-nav .dropdown-menu ul {
  list-style: none;
}

.dropdown-item:hover {
  background-color: transparent;
}

.dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(180deg);
}

/* BTN DECOR */

.btn {
  position: relative;
}

.btn-hover-black {
  display: none;
  background-color: transparent;
  position: absolute;
  width: 98%;
  height: 98%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
}

.btn:hover .btn-hover-black {
  display: inline;
}

.btn-hover-white {
  display: none;
  background-color: transparent;
  position: absolute;
  width: 98%;
  height: 98%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
}

.btn:hover .btn-hover-white {
  display: inline;
}

/* OPACITY AND SCALE EFFECT ON ACCESSORIES*/

.carousel-2 img {
  opacity: 0.5;
}

.hov-2:hover img {
  opacity: 1;
  transform: scale(120%);
  overflow: hidden;
}

.hov-2:hover p {
  display: none;
}

/* ROTATE EFFECT */

.container-uscite .col:hover img {
  animation: rotating 1s linear;
}

@keyframes rotating {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(360deg);
  }
}

/* BTN EFFECT UP */

.carousel .hov {
  bottom: 0;
  transition: bottom 0.15s ease-in 100ms;
}
.carousel .col:hover .hov {
  bottom: 20px;
}

/* MEDIA LARGE */

@media screen and (min-width: 768px) {
  .death {
    background: url("../playstation-reponsive/death-stranding-1024px.jpg");
  }

  .fifa {
    background: url("../playstation-reponsive/fifa-22-hero-1024px.jpg");
  }

  .hero-container {
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* CHANGE BOOTSRAP MENU FROM LG */

@media screen and (min-width: 992px) {
  .navbar-expand-lg .dropdown-menu.show {
    width: 100vw;
    border: none;
    display: flex;
    align-self: center;
    left: 0;
    right: 0;
    position: absolute;
    justify-content: center;
    margin: 0;
    border-radius: 0;
  }

  .my-menu-custom li {
    position: relative;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 20px;
  }

  .blue-text-ball:after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    background-color: #0070d1;
    border-radius: 50%;
    left: -12px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .dropdown-item:hover {
    background-color: transparent;
  }

  .dropdown-item {
    font-weight: bold;
  }

  .navbar-expand-lg .dropdown {
    position: static;
  }

  .hr-w {
    width: 100vw;
    margin: 10px;
  }

  .navbar-nav a {
    padding: 0;
  }

 
}

@media screen and (min-width: 1200px) {
  .death {
    background: url("../playstation-reponsive/death-stranding-1400px.jpg");
  }

  .fifa {
    background: url("../playstation-reponsive/fifa-22-hero-1367px.jpg");
  }

  .hero-container {
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
